#IDE
.idea/*
*.iml
!.idea/codeStyles
!.idea/compiler.xml
!.idea/encodings.xml
!.idea/externalDependencies.xml
!.idea/runConfigurations
!.idea/vcs.xml

#Java
target
.mvn/
.gradle
build/

# Minecraft
run/

#Other
*.db
*.log
*.zip
